#website-banner{
    display:block;
    text-align: center;
}

.header-button{
  margin:auto;
  margin-left:0;
  width: 200px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  border: solid 1px #203f49;
  color: white;
  cursor: pointer;
  border-color:black; 
}

.faq-button a{
  text-decoration: none;
  color: #111111;
  font-weight:bold;
}

.faq-summary{
  padding-left: 17px;
}
.faq-summary-text{
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  padding: 20px;
  padding-left: 20%;
  padding-right: 20%;
 }

.content{
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}