#website-banner{
    display:block;
    text-align: center;
}

.header-button{
  margin:auto;
  margin-left:0;
  width: 200px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  border: solid 1px #203f49;
  color: white;
  cursor: pointer;
  border-color:black;
}

.footer-button{
  margin:auto;
  margin-left:0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  border: solid 1px #203f49;
  color: white;
  cursor: pointer;
  border-color:black;
  padding-left: 30%;
  padding-right: 30%;
}


.faq-button a{
  text-decoration: none;
  color: #111111;
  font-weight:bold;
}

.faq-summary{
  padding-left: 17px;
}
.faq-summary-text{
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  padding: 20px;
  padding-left: 30%;
  padding-right: 30%;
 }

.content{
    padding-left: 30%;
    padding-right: 30%;
    text-align: justify;
}


input[type=text], textarea {
  width: 468px;
  min-height: 50px;
  border: 0;
  background: #f0f0f0;
  outline: 1px solid #c8c8c8;
  padding-left: 12px;
}

input[type=text]:focus, textarea:focus {
  border: 0;
}

textarea {
  width: 456px;
  height: 300px;
  padding: 12px;
}

select {
  -moz-appearance:normal;
  -webkit-appearance:button;
  width: 480px;
  height: 50px;
  border: 0;
  outline: 1px solid #c8c8c8;
  background: #f0f0f0;
  cursor: pointer;
  cursor: hand;
  color: #999999;
  border-radius: 0;
  padding-left: 12px;
}

input[type=submit] {
  -moz-appearance:button;
  -webkit-appearance:button;
  width: 480px;
  height: 50px;
  border: 0;
  outline: 1px solid #2e76ff;
  background: #3f81ff;
  cursor: pointer;
  cursor: hand;
  color: #fff;
  border-radius: 0;
}

input[type=submit]:hover {
  background: #2e76ff;
  outline:1px solid #1d6bff;
}
